.rightBarContent-container {
    width: 100%;
    height: 11rem;
    background-color: rgb(24, 23, 23);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1.2rem 0rem;
}