.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;

}

.total-signup-container {
    background-color: black;
    height: 50%;

}

.signup-container h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.signup-container label {
    margin-top: 15px;
}

.signup-container input {
    background-color: #121212;
    color: white;
    margin-left: 0px;
}

.signup-container input::placeholder {
    background-color: #121212;
    color: rgb(73, 72, 72);
}

.signup-container button {
    border: 1px solid grey;
}

.signup-container button:hover {
    outline: white;
    border: 1px solid white;
}

.signup-container input:hover {
    outline: grey;
    border: 1px solid grey;
}

.signup-container a {
    color: green;
    font-size: 15px;


}

.sep-signup-one {
    height: 1px;
    width: 20%;
    background-color: rgb(77, 76, 76);
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.or {
    position: absolute;
    margin-top: -13px;
    margin-left: 45%;
    background-color: black;
    height: 20px;
    width: 20px;
    text-align: center;
}

.sep-signup-two {
    height: 1px;
    width: 20%;
    background-color: rgb(77, 76, 76);
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-link {
    color: rgb(119, 118, 118);
    margin-bottom: 40px;
}

.login-link a {
    color: white;
}