.parentpage-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.left-bar {
    flex: 0 0 25%;
    height: 100%;
    position: sticky;
    top: 0;
}

.right-bar {
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(24, 23, 23);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.rightBarArea {
    width: 100%;
    min-height: 100vh;
}